frontend/.next/
frontend/node_modules/
server/calculate/model_list
server/data/
server/train/data/
.DS_Store
server/.DS_Store
server/model/.DS_Store
server/model/MNIST/.DS_Store
server/calculate/.DS_Store
server/calculate/database/.DS_Store
server/calculate2/data/
server/calculate/trained_models/
server/figures/contours/MNIST/*
server/calculate/loss_landscapes/.ipynb_checkpoints/
.vscode
*.pyc
ttk_backup
__pycache__
server/model/CIFAR10/VGG16/*pt
server/model/CIFAR10/RESNET18/*pt
server/model/CIFAR10/RESNET50/*pt
server/model/CIFAR10/VIT/*pt
figure
.swc
server/calculate/MNIST_figures
frontend/public/MNIST_figures
frontend/public/MNIST_figures_whole
server/calculate/CIFAR10_figures
frontend/public/CIFAR10_figures
server/ttk/input_binary_for_ttk
server/calculate/cnn_result_files/*
server/calculate/resnet18_result_files/*
local_saved_files
*.icloud
