trained_models/ filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta50 filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_augvit filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_resnet20 filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_resnet20_no_skip filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_vit filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp_less_epoch filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta1 filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_augvit/cifar10_augvit_123.pt filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_augvit/cifar10_augvit_2023.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp/mnist_mlp_3132.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta1/pinn_convection_beta1_123.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta50/pinn_convection_beta50_0.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta50/pinn_convection_beta50_2023.pt filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_vit/cifar10_vit_2023.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp/mnist_mlp_5451.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp/mnist_mlp_6545.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp_less_epoch/mnist_mlp_less_epoch_312.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta50/pinn_convection_beta50_123456.pt filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_vit/cifar10_vit_123456.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp/mnist_mlp_1234.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp/mnist_mlp_6661.pt filter=lfs diff=lfs merge=lfs -text
trained_models/mnist_mlp_less_epoch/mnist_mlp_less_epoch_599.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta1/pinn_convection_beta1_0.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta1/pinn_convection_beta1_123456.pt filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_augvit/cifar10_augvit_123456.pt filter=lfs diff=lfs merge=lfs -text
trained_models/cifar10_vit/cifar10_vit_123.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta1/pinn_convection_beta1_2023.pt filter=lfs diff=lfs merge=lfs -text
trained_models/pinn_convection_beta50/pinn_convection_beta50_123.pt filter=lfs diff=lfs merge=lfs -text
